/* Variables */

:root{
    --background: #0A0B5B;
    --blue: #130EEB;
}

/* Reset */

body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
} 

li{
    list-style-type: none;
}


/* Base Styles */

body{
    background: var(--blue);
    overflow-x: hidden;
}

.button{
    background: none;
    border: 2px solid gold;
    color: gold;
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
}

.button:hover{
    color: var(--background);
    background: gold;
}

input, textarea{
    background: rgba(255, 255, 255, 0.05);
    padding: 10px, 16px;
    border-radius: 20px;
    border: 2px solid #9893d8;
    color: #f2f2f2;
}

h1, h2, h3, h4, p, a, cite{
    color: white;
    font-family: 'Roboto Serif';
}

h1, h3{
    font-size: 1.2em;
}

h2{
    font-size: 1.6em;
}

h4{
    font-size: 1.1em;
}

.leading{
    font-size: 1.1em;
}

#logo{
    height: 100px;
}

nav .brand{
    height: 100px;
}

/* Mobile Styles */
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

header{
    /* display: flex; */
    background: black;
    position: fixed;
}

.site-nav{
    margin: 0 20px;
}

.site-nav ul{
    display: grid;
    grid-column: 6/8;
}

.site-nav h1{
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    padding-bottom: 10px;
    border-bottom: 3px solid red;
}

#welcome{
    padding: 100px 20px 20px 20px;
    height: 75vh;
}

.welcome-text{
    grid-column: 1/6;
    grid-row: 2;
}

.welcome-img{
    /* height: 200px;
    width: 150px; */
    grid-column: 6/9;
    grid-row: 2;
}

.welcome-img img{
    width: 100%;
}

.welcome-quote{
    grid-column: 5/9;
    grid-row: 3;
    /* align-self: right ; */
}

#about{
    padding: 100px 20px 30px 20px;
}

#about h3{
    text-align: center;
}

#about{
    grid-row: 4;
    grid-column: span 8;
}

#about img{
    margin: 10px auto;
    grid-column: span 4;
}

.about-section{
    display: flex;
}

.about-section p{
    grid-column: span 3;
}

.about-img img{
    grid-column: span 4;
    width: 50%;
}

#portfolio{
    padding: 100px 20px 30px 20px;
    height: 75vh;

}

#portfolio h3{
    margin-bottom: 0;
    text-align: center;
}

.portfolio a{
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
}

.portfolio a *{
    margin: 0 20px;
    max-width: 40%;
    align-self: center;
}

.portfolio h4{
    color: white;
}

#contact{
    padding: 100px 20px 30px 20px;
}

#contact h3, #contact p{
    text-align: center;
    margin-bottom: 10px;
}

#contact form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

#contact input, #contact textarea{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0px 10px 15px;
}

#contact .button{
    margin-top: 10px;
}

footer{
    padding: 30px 20px;
    background-color: black;
}

footer li{
    margin: 0 6px;
    padding: 5px;
}

footer .follow-me{
    grid-column: 1/4;
    font-size: 0.8em;
    align-self: center;
}

footer .social{
    display: flex;
    grid-column: 4/9;
    font-size: 2em;
}

.fa-facebook-square,
 .fa-linkedin-in, .fa-github-square{
    transition: 0.4s;
 }

 a:hover .fa-facebook-square{
    color: blue;
 }

 a:hover .fa-linkedin-in{
    color: #3B5998;
 }

 a:hover .fa-github-square{
    color: #BBB;
 }





/* Small Tablet Styles */
@media screen and (min-width: 620px) {
    
} 

/* Large Tablet and Laptop Styles */
@media screen and (min-width: 960px) {
    body{
        font-size: 18px;
    }
} 

/* Desktop Styles */
@media screen and (min-width: 1200px) {
    body{
        font-size: 20px;
    }
} 




























/* *{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

h1, p, a, cite{
    font-family: 'Roboto serif', sans-serif;
}

#logo{
    height: 100px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

li{
    list-style: none;
}

a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.active{
    background-color: blue;
    padding: 2.2rem 1.5rem;
    margin: 0;
}

.active a{
    background-color: blue;
    padding: 2.2rem 1.5rem;
    margin: 0;
}

.nav-menu a:hover{
    border-bottom: 7px solid blue;
    padding-bottom: 1.8rem;
}

.container{
    width: 100%;
    margin: auto;
}

.navbar{
    background-color: black;
    width: 100%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.brand{
    widows: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name{
    color: white;
    font-size: 2rem;
    padding-left: 50px;
}

.main-section{
    height: 100vh;
    background-color: #0B088B;
    margin: 100px 150px 0px 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.about-main-section{
    height: 100vh;
    background-color: #0B088B;
    margin: 0px 150px 0px 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container1{
    padding-left: 30px;
    padding-right: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container2{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.container2 .image{
    width: 200px;
    height: 300px;
    margin-top: 50px;
    padding-left: 100px;
}

.container2 cite{
    font-size: 24px;
    padding: 10px;
}

footer{
    width: 100%;
    background-color: black;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}



 

footer li{
    display: flex;
    gap: 40px;
} */
